html{
  font-family: Arial;
  font-weight: 400;
}
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* hero image */
.hero {
  
  
  /* grid styles */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
}

.hero > * {
  color: white;
}

.hero > h1 {
  font-size: 4rem;
  
}

.section {
  padding: 3rem;
}

.section > ul {
  list-style-type: none;
  /* grid styles */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.section > ul > li {
  border: 0px solid #ccc;
  border-radius: .3rem;
  width: auto;
}

.section > ul > li > figure {
  max-height:286.3px;
  overflow: hidden;
  border-top-left-radius: .3rem;
  border-top-right-radius: .5rem;
  position: relative;
  
  
}

.section > ul > li > figure >  {
  width: 59%;
  
  
}

.img{
  width: 59%;
  margin: auto;

}

.section > ul > li > figure > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(31, 77, 119, 0.507);
  width: 70%;
}

.section > ul > li > figure > figcaption > h3 {
  color: white;
  padding: .75rem;
  font-size: 1.25rem;
}
.NavSection{
  width: 100%;
  height: 600px;
  background-image: url(https://res.cloudinary.com/jerrick/image/upload/fl_progressive,q_auto,w_1024/quhsdo38whhw8hvi8ous.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  


}
.NavSecWrapper{
  width: 100%;
  display: inline-block;
  line-height: 40px;
  z-index: 2;
  position: relative;
  margin: 0 0 0 0;

}
.NavSecWrapper > ul{
  list-style: none;
  
  float: right;
  margin: 0.3cm 1.3cm 0 ; 
}
.NavSecWrapper > ul > li{
  display: inline-block;
}
.NavSecWrapper > ul > li a{
  text-decoration: none;
  margin: 0 2em;
}
#liF{
  border: 2px solid white;
  border-radius: 30px;
  border-width: 1px;
  padding: .8em .9em .8em .9em;
}
#liF a {
  color: #ffffff;
}
#liS{
  background-color:white ;
  border-radius: 30px;
  padding: .8em .8em .8em .8em;

}
#liS{
  color: #FA3354;
}
.NavWrapper{
  width: 100%;
  
}
.nav_img{
  width: 10%;
  margin:auto;
}
.nav_img > img{
  margin-left: 1em;
  margin-top: 150px;
}
.NavSearch{
  width: 40%;

}
.NavSearchWrapper{
  width: 30%;
  margin: auto;
}
input[type=text]{
  width: 250px;
  transition: .2s all linear;
  padding: 1em 5em 1em 5em;
  opacity: .5;
}
input{
  padding: 4px;
  border-radius: 23px 23px 23px 23px;
  outline: none;
  margin-top: .3cm;

}
.ThirdSection{
  width: 100%;
  height: 1500px;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: -17em 0 0 0;
  position: absolute;
  z-index: -1;

  
  
}
.FourthSection{
  width: 100%;

}
.FourthSecWrapper{
  width: 20%;
  margin: auto;
}
.FourthSecWrapper >h3{
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 30px;
  margin-top: 280px;
}
.ThirdSecWrapper{
  width: 100%;
  margin: auto;
  
}


/* footer */
footer {
  background-color: transparent;
  padding: .75rem;
  margin-top: 31.33cm;
  color: whitesmoke;
  text-align: center;
  font-size: 15px;
  font-weight: lighter;
  background: rgb(23, 23, 23);
}
.â¤{
    color: red;
}
body {
  margin: 40px;
  background-color: #181A1B;
}