@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
img {
    display: block;
    width: 100%;
    }
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #181A1B;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 1.5px;
}
.section__titulo {
  text-align: center;
  font-size: 40px;
  color: red;
}
.contenedor {
  margin: auto;
  width: 99%;
}
/*-------------------Estilos del header-------------------*/
.header {
  height: 60px;
}
.header .contenedor {
  display: flex;
  justify-content: space-between;
}
.logo, .icon-menu {
  width: 15cm;
  margin: 5px;
  color: #fff;
}
.icon-menu {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 30px;
  background: red;
  text-align: center;
  line-height: 45px;
  border-radius: 5px;
  margin-left: auto;
  cursor: pointer;
}
/*------------------Estilos del menu------------------*/
.nav {
  position: absolute;
  top: 60px;
  left: -100%;
  width: 100%;
  transition: all 0.4s;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__link {
  display: block;
  padding: 15px;
  background: red;
  text-decoration: none;
  color: #fff;
}
.menu__link:hover, .select {
  background: white;
  color: red;
}
.mostrar {
  left: 0;
}

/*--------------Estilos de banner--------------*/

.banner {
  margin-top: -60px;
  position: relative;
  z-index: -1000;
  margin-bottom: 20px;
}

.banner .contenedor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  color: #fff;
  text-align: center;
}

.banner__txt {
  display: none;
}

/*-----------------Estilos de info-----------------*/
.info__columna {
  background: black;
  color: #fff;
  padding: 15px;
  margin-bottom: 30px;
}

/*-----------------Estilos de cursos-----------------*/
.cursos__columna {
  position: relative;
  margin-bottom: 30px;
}
.cursos__descripcion {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background: rgba(0,0,0,0.5);
  width: 60%;
  height: 100%;
  padding: 5px;
}
.cursos__titulo {
  font-size: 25px;
  margin: 5px 0;
}
.cursos__img {
  width: 100%;
}
/*-----------------Estilos de footer-----------------*/

.footer {
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.footer .social [class^="icon-github"] {
  display: inline-block;
  color: #333;
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
  background-image: url(https://img.pngio.com/github-logo-icon-of-glyph-style-available-in-svg-png-eps-ai-github-icon-png-256_256.png);
  background-size: 100%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 40px;
}
.footer .social [class^="icon-twitter"] {
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background-image: url(https://a283c2a9332e392396a8db90-ypbhm8m6r5ycuve.netdna-ssl.com/wp-content/uploads/2016/12/twitter-e1480682617609.png);
    background-size: 100%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
  }

/*------------------Estilos responsive------------------*/

@media(min-width:768px) {
  .banner__titulo {
    font-size: 30px;
    margin: 5px 0;
  }
  .banner__txt {
    display: block;
    font-size: 18px;
    margin: 7px 0;
  }
  .info, .cursos {
    display: flex;
    justify-content: space-between;
    margin-top: -90px;
  }
  .info__columna {
    width: 32%;
  }
  .info__titulo {
    font-size: 30px;
    margin: 5px 0;
  }
  .info__titulo2 {
    font-size: 25px;
    margin: 5px 0;
  }
  .section__titulo {
    width: 100%;
  }
  .cursos {
    flex-wrap: wrap;
    margin-top: 0;
  }
  .cursos__columna {
    width: 49%;
  }
  .footer .social [class^="icon-"] {
    margin: 0 10px;
  }
}

@media(min-width:1024px) {  
  .contenedor {
    width: 1000px;
  }
  .section__titulo {
    font-size: 50px;
    margin: 30px 0;
  }
  .nav {
    position: static;
    width: auto;
  }
  .menu {
    display: flex;
  }
  .icon-menu {
    display: none;
  }
  .menu__link {
    background: none;
    font-size: 20px;
  }
  .select {
    color: #fff;
    background: red;
  }
  .banner__titulo {
    font-size: 60px;
  }
  .banner__txt {
    font-size: 25px;
  }
  .info {
    margin-top: -120px;
  }
  .info__columna {
    padding: 30px;
  }
  .info__titulo {
    font-size: 40px;
    text-align: center;
  }
  .info__titulo2{
    font-size: 30px;
    text-align: center;
  }
  .cursos__descripcion {
    padding: 20px;
  }
  .cursos__titulo {
    font-size: 50px;
  }
  .cursos__txt {
    font-size: 20px;
  }
}

@media(min-width:1280px) {
  .contenedor {
    width: 1200px;
  }
  .banner .contenedor {
    top: 40%;
  }
  .info {
    margin-top: -220px;
  }
}
.â¤{
    color: red;
}



.catalogo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.catalogo>*{
  padding: 1em;
}

.catalogo label{
  display: block;
  padding: 0.25em;
  text-align: center;
}

.catalogo div,
.catalogo button{
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  margin: 0;
  padding: 0em;
  margin: 0.25em;
  background-color: rgba(0, 0, 0, 0.5);
}

.catalogo div img,
.catalogo button img{
  margin: 0em;
  width: 100%;
  height: auto;
}
.catalogo div:hover,
.catalogo button:hover{
  box-shadow: 0px 0px 10px 0px rgba(183,14,33,0.6);
  opacity: 0.5;
}

.catalogo .container {
  position: relative;
  text-align: center;
  color: white;
}
/*
.catalogo .container h2{
  position: absolute;
  top: 8px;
  left: 16px;
} */

@media screen and (max-width:1024px){
  .NavSection{
    width: 100%;
    height: 450px;
  }
  .catalogo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .logo {
    font-size: 60px;
    width: 8em;
  }

  .icon-menu {
    width: 30px;
    height: 30px;
    font-size: 10px;
  }
}

@media screen and (max-width:768px){
  .NavSection{
    width: 100%;
    height: 300px;
  }
  .catalogo{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .logo {
    font-size: 60px;
    width: 5em;
  }
  .icon-menu {
    width: 20px;
    height: 20px;
    font-size: 20px;
  }
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}