{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'core/css/formularios.css' %}">
    
    <title>{% block title %}{% endblock %}| Administrador</title>
</head>
<body onload="FbotonOn()" >
    {% block header %}
    <header class="title">
        <h1>Administrador </h1>
    </header>
    
    <div class="container">
        <header class="header">
            <h1>{{ user }}</h1>
            <h2  ><a class="a" href="{% url 'admin' %}"> regresar </a></h2>
        </header>
    {% endblock %}
        <main class=" content">
            {% block content %} 

                <table id="table">
                    <div><a href="{% url 'nuevoUser' %}">Crear Usuario</a></div>
                    <tr>
                            <th>Nombre de Usuario</th><th>Estado</th><th>Acciones</th>
                    </tr>
                    {% for usuario in usuarios %}
         
    
                    <tr> 
                            <td>{{usuario.username}}</td>
                            
                            <td id="botonOn" > {{ usuario.is_staff }}</td>
                    
                            <td><a href="{% url 'updates' usuario.id %}">Editar</a> <a href="{% url 'eliminarUser' usuario.id %}">Borrar</a></td>
                    </tr>
                    
                    {% endfor %}
                    
                    
                </table>
            
            

                    
            {% endblock %}

                   
                
                   

    
            
            
        </main>
        <aside class="sideber">
            <div>

            </div>
        </aside>

        <div class="related-post">
            
        </div>
        <div class="related-post">
                
        </div>
        <div class="related-post">
                
        </div>
        <div class="related-post">
                
        </div>
        <div class="related-post">
                
        </div>

        <footer class="footer">
            <div class="f">
            <h4>
                <a class="icon-twitter"href="https://twitter.com/cabreu145"></a>
                <a href="https://github.com/cabreu145" class="icon-github"></a></h4>
            <p class="sign">Design with <i class="â¤">â¤</i> by @cabreu145</p>
            </div>

        </footer>
        
 

            
    </div>

    
    
    <script>

            function FbotonOn() {
              var uno = document.getElementById('botonOn');
              if (uno.innerText == 'True') 
                      uno.innerText = 'Tiene Permisos';
              else uno.innerText = 'No tiene permisos'; 
            }
            
            </script>
    
</body>
</html>