{% extends 'portfolio/baseformularios.html'%}
{% block title %}Eliminar Elenco{% endblock %}
{% block content %}
<form method="post" novalidate id="form_new">
        {% csrf_token %}
        Â¿ Seguro que quiere eliminar el elenco   " {{ object.personas_idpersonas}} " = " {{ object.personajes_idpersonajes}} " ?
        <button type="submit" class="btn btn-success" id="btnlog">Eliminar</button>
        
      </form>
      <div>
            <a  href="{% url 'home' %}" id="back"> Regresar </a>
            </div>



{% endblock %}