{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Alta Clientes" content="DiseÃ±o Responsivo">
    <title>Persona</title>
    <link rel="stylesheet" href="{% static 'core/css/estilo2.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="container">
        <header class="header">
            <h1 class="titulo"><span>Personas</span> </h1>
        </header>
        <div class="area-central">
            <div class="formulario">
                <h3>Peliculas</h3>
                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                    <p>
                        <label for="nombre">Persona: </label>
                        {{form.persona}}
                    </p>
                    <p>
                        <label for="nombre">Tipo: </label>
                        {{form.tipospersonas_idTiposPersonas}}
                    </p>
                    <p>
                        <label for="nombre">Estatus: </label>
                        {{form.estatus}}
                    </p>
                    <p class="bloque">
                            <button type="submit" class="btn btn-sm btn-primary btn-flat">Aceptar</button>
                            <a href="{% url 'admin_pelicula' %}" class="btn btn-sm btn-danger btn-flat" >
                              <i class="fas fa-sync-alt" ></i>   Cancelar
                            </a> 
                    </p>
                </form>
            </div>
            <div class="info-contacto">
            </div>
        </div>
    </div>
</body>
</html>
