{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Document</title>
      <link rel="stylesheet" href="{% static 'core/css/test.css' %}">
      
      
      <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
  </head>
  <body> 
    <div class="container">
      <header class="header">
        <ul>
          <li>
            <input type="text" name="search" value="Buscar peliculas" id="">
            <button href="{% url 'admin' %}">Administrar</button>
          </li>
        </ul>
      </header>
      <div class="catalogo">
          <div>
            <img src="https://cdn11.bigcommerce.com/s-yzgoj/images/stencil/1280x1280/products/8505/3970122/MOV261629__84369.1541773384.jpg?c=2&imbypass=on" alt="">
            <label for="nombre">Batman Begins</label>
          </div>
          <div>
              <img src="https://cdn11.bigcommerce.com/s-yzgoj/images/stencil/1280x1280/products/8505/3970122/MOV261629__84369.1541773384.jpg?c=2&imbypass=on" alt="">
              <label for="nombre">Batman Begins</label>
          </div>
          <div>
            <img src="https://cdn11.bigcommerce.com/s-yzgoj/images/stencil/1280x1280/products/8505/3970122/MOV261629__84369.1541773384.jpg?c=2&imbypass=on" alt="">
            <label for="nombre">Batman Begins</label>
          </div>
          <div>
              <img src="https://cdn11.bigcommerce.com/s-yzgoj/images/stencil/1280x1280/products/8505/3970122/MOV261629__84369.1541773384.jpg?c=2&imbypass=on" alt="">
              <label for="nombre">Batman Begins</label>
          </div>
          <div>
            <img src="https://cdn11.bigcommerce.com/s-yzgoj/images/stencil/1280x1280/products/8505/3970122/MOV261629__84369.1541773384.jpg?c=2&imbypass=on" alt="">
            <label for="nombre">Batman Begins</label>
          </div>
          <div>
              <img src="https://cdn11.bigcommerce.com/s-yzgoj/images/stencil/1280x1280/products/8505/3970122/MOV261629__84369.1541773384.jpg?c=2&imbypass=on" alt="">
              <label for="nombre">Batman Begins</label>
          </div>
      </div>
    </div>
    <footer>
      <p>Design with <i class="â¤">â¤</i> by @cabreu145 | <a target="_blank" href="https://twitter.com/cabreu145">Twitter</a> | <a target="_blank" href="https://github.com/cabreu145">Github</a></p>      
    </footer>
    <!-- <script src="/js/ajax.js"></script> -->
  </body>
</html>

