{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Document</title>
      <link rel="stylesheet" href="{% static 'core/css/test.css' %}">
      
      
      <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
  </head>
  <body> 
  <section class="hero">
    <div class="NavSection">
      <div class="NavSecWrapper">
            <ul>
              <li id="liF" ><a href="{% url 'admin1' %}">Administrar</a></li>
              
              <!-- <li id="liS" ><a href="#">Iniciar SesiÃ³n</a></li> -->
            </ul>
            <div class="NavWrapper">
              <div class="nav_img class="img"">
                
              </div>
            </div>
            <!-- <div class="NavSearch">
              <div class="NavSearchWrapper">
                <input type="text" name="search" value="Buscar peliculas" id="">
              </div>
            </div> -->
      </div>
    </div>
  </section> 
    <div class="container">
      <div class="catalogo">
        {% for Peliculas in peliculas %}
          <div>
              <a href="{% url 'pelicula' Peliculas.pk %}">
              <img src="{{ Peliculas.img }}" alt="">
              </a>
              <label for="nombre">{{ Peliculas.titulo }}</label>
          </div>
        {% endfor %}
      </div>
    </div>
    <footer>
      <p>Design with <i class="â¤">â¤</i> by @cabreu145 | <a target="_blank" href="https://twitter.com/cabreu145">Twitter</a> | <a target="_blank" href="https://github.com/cabreu145">Github</a></p>      
    </footer>
    <!-- <script src="/js/ajax.js"></script> -->
  </body>
</html>

