{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'core/css/pelicula.css' %}">
    <link href="https://file.myfontastic.com/t5tNwfwUapz4yDzK3B6sfe/icons.css" rel="stylesheet">
    
    
    
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
</head>
<body>

<header class="header">
  <div class="contenedor">
    <img class="logo" src="{{ object.logo }}" alt="">
    <span class="icon-menu" id="btn-menu"></span>
    <nav class="nav" id="nav">
      <ul class="menu">
        <li class="menu__item"><a href="{% url 'home' %}" class="menu__link select">Inicio</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="banner">
 <img src="{{ object.banner }}" alt="">
  <div class="contenedor">
    <h2 class="banner__titulo"></h2>
    <p class="banner__txt"></p>
  </div>
</div>
<main class="main">
  <div class="contenedor">
    <section class="info">
      <article class="info__columna">
        <img src="{{ object.img }}" alt="">
        <h2 class="info__titulo">{{ object.titulo }}</h2>
        <h3 class="info__titulo2">Calificacion: {{ object.calificaciones_idcalificaciones.calificacion }}</h3>
        
        <h1 class="calificacion"></h1>
      </article>
      <article class="info__columna">
        <img src="https://i.ibb.co/RPfj1nX/guion.png" alt="" class="info__img">
        <h2 class="info__titulo">Resumen</h2>
        <p class="info__txt">{{ object.descripcion }}</p>
      </article>
      <article class="info__columna">
        <img src="https://i.ibb.co/sRjkH4Q/periodico.png" alt="" class="info__img">
        <h2 class="info__titulo">Wiki</h2>
        <p class="info__txt">Director: {{ object.Personas_idPersonas.persona }}</p>
        <p class="info__txt">AÃ±o: {{ object.fecha }}</p>
        <p class="info__txt">Duracion: {{ object.duracion }} minutos</p>
      </article>
    </section>
    <section class="cursos">
      <h2 class="section__titulo">Reparto</h2>
    </section>  
  </div>
</main>
  <div class="container">
    <div class="catalogo">
      {% for object in object.cast.all %}
        <button class="container" onclick="Modal()" id="{{ object.personajes_idpersonajes.personaje }}">
          <img src="{{ object.img }}" alt="" class="cursos__img" id="{{ object.personajes_idpersonajes.personaje }}">
          <h2 class="cursos__titulo" id="{{ object.personajes_idpersonajes.personaje }}">{{ object.personas_idpersonas.persona }}</h2>
          <div class="cursos__txt" id="{{ object.personajes_idpersonajes.personaje }}">{{ object.personajes_idpersonajes.personaje }}</div>
        </button>
      {% endfor %}
    </div>
  </div>

  <!-- The Modal -->
  <div id="myModal" class="modal">
    <div class='modal-content'>
        <span class='close' onclick="Close()">&times;</span>
    </div>
  </div>

<script>
  var modal = document.getElementById("myModal");
  function Modal() {
    var personaje = event.target.id;
    fetch('http://superstock.herokuapp.com/api/superhumanos')
    .then((respuesta) => {return respuesta.json();}).then((respuesta) => {
      for (const index of respuesta) {
        if (index.personaje_nombre === personaje) {
          document.getElementById("myModal").innerHTML =+ 
            "<div id='myModal' class='modal'>"+
              "<div class='modal-content'>"+
                "<span class='close' onclick='Close()'>&times;</span>"+
                "<div>"+
                    "<h1>"+index.personaje_nombre+"</h1>"+
                    "<h3>"+index.franquicia+"</h3>"+
                    "<h2>"+index.personaje_descripcion+"</h2>"+
                    //"<img src='"+"https://static0.cbrimages.com/wordpress/wp-content/uploads/2019/11/dc-10-rarest-batman-comics-what-theyre-worth.jpg"+"' alt=''>"+
                    "<img src='"+index.personaje_imagen+"' alt=>"+
                "</div>"+
              "</div>"+
            "</div>";
          //alert(personaje);
          modal.style.display = "block";
        }
      }   
    });
  };

  function Close() {
    modal.style.display = "none";
  };

  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  };
</script>
<footer class="footer">
  <div class="contenedor">
    <div class="social">
      <a  class="icon-twitter"href="https://twitter.com/cabreu145"></a>
      <a href="https://github.com/cabreu145" class="icon-github"></a>
      
    </div>
    <p >Design with <i class="â¤">â¤</i> by @cabreu145</p>
  </div>
</footer>
<script type="text/javascript" href="{% static 'core/js/menu.js' %}" ></script>
</body>
</html>

